@include media.xs {
  footer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    .line-break {
      height: 2px;
      width: 100%;
      background-color: $dark-navy-color;
      margin-bottom: 20px;
    }
    .footer-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 80px;
      .contact {
        width: 100%;
        h5 {
          font-size: 18px;
          text-align: center;
        }
        p {
          text-align: center;
          font-size: 12px;
          .email-link {
            text-decoration: none;
            color: $dark-navy-color;
            transition: 0.4s;

            &:hover {
              font-weight: 700;
              padding: 2px 4px;
              border-radius: 3px;
              transform: translateY(-5px);
              box-shadow: 0px 5px 0px 2px $dark-navy-color;
              outline: $dark-navy-color solid 2px;
            }
          }
        }
      }
      .social-media-wrapp {
        display: flex;
        justify-content: center;
        gap: 5px;
        margin: 10px 0;
        a {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: $dark-navy-color;

          display: flex;
          justify-content: center;
          align-items: center;
          .logo {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
    .license {
      text-align: center;
      line-height: 30px;
      font-size: 12px;
    }
  }
}

@include media.sm {
  footer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    .line-break {
      height: 2px;
      width: 100%;
      background-color: $dark-navy-color;
      margin-bottom: 20px;
    }
    .footer-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 80px;
      .contact {
        width: 100%;
        h5 {
          font-size: 18px;
          text-align: center;
        }
        p {
          text-align: center;
          font-size: 12px;
          .email-link {
            text-decoration: none;
            color: $dark-navy-color;
            transition: 0.4s;

            &:hover {
              font-weight: 700;
              padding: 2px 4px;
              border-radius: 3px;
              transform: translateY(-5px);
              box-shadow: 0px 5px 0px 2px $dark-navy-color;
              outline: $dark-navy-color solid 2px;
            }
          }
        }
      }
      .social-media-wrapp {
        display: flex;
        justify-content: center;
        gap: 5px;

        margin: 10px 0;
        a {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          background-color: $dark-navy-color;

          display: flex;
          justify-content: center;
          align-items: center;
          .logo {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
    .license {
      text-align: center;
      line-height: 30px;
      font-size: 12px;
    }
  }
}
@include media.md {
  footer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    .line-break {
      height: 2px;
      width: 100%;
      background-color: $dark-navy-color;
      margin-bottom: 20px;
    }
    .footer-body {
      display: flex;
      justify-content: space-between;
      align-items: start;
      margin-bottom: 90px;
      .contact {
        width: 50%;
        h5 {
          font-size: 20px;
        }
        .email-link {
          text-decoration: none;
          color: $dark-navy-color;
          transition: 0.4s;
        }
        .email-link:hover {
          font-weight: 700;
          padding: 2px 4px;
          border-radius: 3px;
          transform: translateY(-5px);
          box-shadow: 0px 5px 0px 2px $dark-navy-color;
          outline: $dark-navy-color solid 2px;
        }
      }
      .social-media-wrapp {
        display: flex;
        justify-content: center;
        gap: 5px;

        margin: 10px 0;
        a {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: $dark-navy-color;

          display: flex;
          justify-content: center;
          align-items: center;
          .logo {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
    .license {
      text-align: center;
      line-height: 30px;
    }
  }
}

@include media.lg {
  footer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    .line-break {
      height: 2px;
      width: 100%;
      background-color: $dark-navy-color;
      margin-bottom: 20px;
    }
    .footer-body {
      display: flex;
      justify-content: space-between;
      align-items: start;
      margin-bottom: 90px;
      .contact {
        width: 50%;
        h5 {
          font-size: 20px;
        }
        .email-link {
          text-decoration: none;
          color: $dark-navy-color;
          transition: 0.4s;
        }
        .email-link:hover {
          font-weight: 700;
          padding: 2px 4px;
          border-radius: 3px;
          transform: translateY(-5px);
          box-shadow: 0px 5px 0px 2px $dark-navy-color;
          outline: $dark-navy-color solid 2px;
        }
      }
      .social-media-wrapp {
        display: flex;
        justify-content: center;
        gap: 5px;

        margin: 10px 0;
        a {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: $dark-navy-color;

          display: flex;
          justify-content: center;
          align-items: center;
          .logo {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
    .license {
      text-align: center;
      line-height: 30px;
    }
  }
}

@include media.xl {
  footer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 0 50px;
    .line-break {
      height: 2px;
      width: 100%;
      background-color: $dark-navy-color;
      margin-bottom: 20px;
    }
    .footer-body {
      display: flex;
      justify-content: space-between;
      align-items: start;
      margin-bottom: 70px;
      .contact {
        width: 50%;
        h5 {
          font-size: 20px;
        }
        .email-link {
          text-decoration: none;
          color: $dark-navy-color;
          transition: 0.4s;
        }
        .email-link:hover {
          font-weight: 700;
          padding: 2px 4px;
          border-radius: 3px;
          transform: translateY(-5px);
          box-shadow: 0px 5px 0px 2px $dark-navy-color;
          outline: $dark-navy-color solid 2px;
        }
      }
      .social-media-wrapp {
        display: flex;
        justify-content: center;
        gap: 5px;

        margin: 10px 0;
        a {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: $dark-navy-color;

          display: flex;
          justify-content: center;
          align-items: center;
          .logo {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
    .license {
      text-align: center;
      line-height: 30px;
    }
  }
}
