.about-page {
  // display: inline-block;
  width: 100%;
  // overflow: hidden;

  @include media.xs {
    .hero-img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      display: block;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .description {
      .title {
        text-align: center;
        color: $text-dark;
        font-size: 2rem;
        font-weight: 500;
        line-height: 34px; /* 50% */
        margin-top: 20px;
      }

      .body-text {
        margin-top: 20px;
        text-align: center;
        p {
          color: $text-dark;
          text-align: justify;
          font-size: 1rem;
          font-weight: 400;
          line-height: 27px; /* 171.429% */
          margin-bottom: 34px;

          a {
            text-decoration: underline;
            color: $text-navy;
            font-style: italic;
            font-weight: 500;
          }
        }
        .img-about {
          width: 300px;
          height: auto;
          aspect-ratio: 6/4;
          object-fit: cover;
          margin: 5px;
        }
      }
    }

    .experience {
      h5 {
        text-align: center;
        color: $text-dark;
        font-size: 28px;
        font-weight: 500;
        line-height: 50px; /* 50% */
      }
      hr {
        background-color: $bg-navy;
        height: 2px;
        width: 50%;
        margin: 0 auto;
      }
      .company-identity {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
        .company-logo {
          width: auto;
          height: 50px;
        }
      }
      .wrapp-card-experience {
        margin: 0 auto;
        margin-top: 20px;
        width: 100%;
        padding: 0 10px;
        display: flex;
        gap: 20px;
        justify-content: center;
        flex-direction: column;
      }
      .swipe-wrapp {
        display: none;
        justify-content: center;
        width: 100%;
        gap: 10px;
        margin-top: 25px;
        .btn-swipe {
          color: $text-navy;
          border: none;
          border-radius: 2px;
          background-color: $bg-white;
          box-shadow: 0px 6px 8px -3px $color-shadow;
          transition: all 0.2s ease-in-out;
          padding: 5px 10px;
          &:hover {
            transform: translateY(-2px);
            box-shadow: 0px 3px 0px 1px #0a1e39;
            outline: #0a1e39 solid 2px;
          }
          &:focus {
            transform: translateY(-2px);
            box-shadow: 0px 3px 0px 1px #0a1e39;
            outline: #0a1e39 solid 2px;
          }
        }
      }
    }
  }

  @include media.sm {
    .hero-img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      display: block;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .description {
      .title {
        text-align: center;
        color: $text-dark;
        font-size: 2rem;
        font-weight: 500;
        line-height: 34px; /* 50% */
        margin-top: 20px;
      }

      .body-text {
        margin-top: 20px;
        text-align: center;
        p {
          color: $text-dark;
          text-align: justify;
          font-size: 1rem;
          font-weight: 400;
          line-height: 27px; /* 171.429% */
          margin-bottom: 34px;

          a {
            text-decoration: underline;
            color: $text-navy;
            font-style: italic;
            font-weight: 500;
          }
        }
        .img-about {
          width: 300px;
          height: auto;
          aspect-ratio: 6/4;
          object-fit: cover;
          margin: 5px;
        }
      }
    }

    .experience {
      h5 {
        text-align: center;
        color: $text-dark;
        font-size: 28px;
        font-weight: 500;
        line-height: 50px; /* 50% */
      }
      hr {
        background-color: $bg-navy;
        height: 2px;
        width: 50%;
        margin: 0 auto;
      }
      .company-identity {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
        .company-logo {
          width: auto;
          height: 50px;
        }
      }
      .wrapp-card-experience {
        margin: 0 auto;
        margin-top: 20px;
        width: 100%;
        padding: 0 10px;
        display: flex;
        gap: 20px;
        justify-content: center;
        flex-direction: column;
      }
      .swipe-wrapp {
        display: none;
        justify-content: center;
        width: 100%;
        gap: 10px;
        margin-top: 25px;
        .btn-swipe {
          color: $text-navy;
          border: none;
          border-radius: 2px;
          background-color: $bg-white;
          box-shadow: 0px 6px 8px -3px $color-shadow;
          transition: all 0.2s ease-in-out;
          padding: 5px 10px;
          &:hover {
            transform: translateY(-2px);
            box-shadow: 0px 3px 0px 1px #0a1e39;
            outline: #0a1e39 solid 2px;
          }
          &:focus {
            transform: translateY(-2px);
            box-shadow: 0px 3px 0px 1px #0a1e39;
            outline: #0a1e39 solid 2px;
          }
        }
      }
    }
  }

  @include media.md {
    .hero-img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      display: block;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .description {
      .title {
        text-align: center;
        color: $text-dark;
        font-size: 2rem;
        font-weight: 500;
        line-height: 34px; /* 50% */
        margin-top: 20px;
      }

      .body-text {
        margin-top: 20px;
        text-align: center;
        p {
          color: $text-dark;
          text-align: justify;
          font-size: 1rem;
          font-weight: 400;
          line-height: 34px; /* 171.429% */
          margin-bottom: 34px;

          a {
            text-decoration: underline;
            color: $text-navy;
            font-style: italic;
            font-weight: 500;
          }
        }
        .img-about {
          width: 300px;
          height: auto;
          aspect-ratio: 6/4;
          object-fit: cover;
          margin: 5px;
        }
      }
    }

    .experience {
      h5 {
        text-align: center;
        color: $text-dark;
        font-size: 2rem;
        font-weight: 500;
        line-height: 50px; /* 50% */
      }
      hr {
        background-color: $bg-navy;
        height: 2px;
        width: 30%;
        margin: 0 auto;
      }
      .company-identity {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
        .company-logo {
          width: auto;
          height: 50px;
        }
      }
      .wrapp-card-experience {
        margin-top: 20px;
        width: 100%;
        display: flex;
        gap: 20px 2%;
        overflow-x: scroll;
        scroll-behavior: smooth;
      }
      .swipe-wrapp {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 10px;
        margin-top: 25px;
        .btn-swipe {
          color: $text-navy;
          border: none;
          border-radius: 2px;
          background-color: $bg-white;
          box-shadow: 0px 6px 8px -3px $color-shadow;
          transition: all 0.2s ease-in-out;
          padding: 5px 10px;
          &:hover {
            transform: translateY(-2px);
            box-shadow: 0px 3px 0px 1px #0a1e39;
            outline: #0a1e39 solid 2px;
          }
          &:focus {
            transform: translateY(-2px);
            box-shadow: 0px 3px 0px 1px #0a1e39;
            outline: #0a1e39 solid 2px;
          }
        }
      }
    }
  }

  @include media.lg {
    .hero-img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      display: block;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .description {
      .title {
        text-align: center;
        color: $text-dark;
        font-size: 2rem;
        font-weight: 500;
        line-height: 34px; /* 50% */
        margin-top: 20px;
      }

      .body-text {
        margin-top: 20px;
        text-align: center;
        p {
          color: $text-dark;
          text-align: justify;
          font-size: 1rem;
          font-weight: 400;
          line-height: 34px; /* 171.429% */
          margin-bottom: 34px;

          a {
            text-decoration: underline;
            color: $text-navy;
            font-style: italic;
            font-weight: 500;
          }
        }
        .img-about {
          width: 300px;
          height: auto;
          aspect-ratio: 6/4;
          object-fit: cover;
          margin: 5px;
        }
      }
    }

    .experience {
      h5 {
        text-align: center;
        color: $text-dark;
        font-size: 2rem;
        font-weight: 500;
        line-height: 50px; /* 50% */
      }
      hr {
        background-color: $bg-navy;
        height: 2px;
        width: 30%;
        margin: 0 auto;
      }
      .company-identity {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
        .company-logo {
          width: auto;
          height: 50px;
        }
      }
      .wrapp-card-experience {
        margin-top: 20px;
        width: 100%;
        display: flex;
        gap: 20px 2%;
        overflow-x: scroll;
        scroll-behavior: smooth;
      }
      .swipe-wrapp {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 10px;
        margin-top: 25px;
        .btn-swipe {
          color: $text-navy;
          border: none;
          border-radius: 2px;
          background-color: $bg-white;
          box-shadow: 0px 6px 8px -3px $color-shadow;
          transition: all 0.2s ease-in-out;
          padding: 5px 10px;
          &:hover {
            transform: translateY(-2px);
            box-shadow: 0px 3px 0px 1px #0a1e39;
            outline: #0a1e39 solid 2px;
          }
          &:focus {
            transform: translateY(-2px);
            box-shadow: 0px 3px 0px 1px #0a1e39;
            outline: #0a1e39 solid 2px;
          }
        }
      }
    }
  }

  @include media.xl {
    .hero-img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      display: block;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .description {
      .title {
        text-align: center;
        color: $text-dark;
        font-size: 48px;
        font-weight: 500;
        line-height: 100px; /* 50% */
      }

      .body-text {
        margin: 0 10%;
        margin-bottom: 50px;
        text-align: center;
        p {
          color: $text-dark;
          text-align: justify;
          font-size: 1.25rem;
          font-weight: 400;
          line-height: 32px; /* 171.429% */
          margin-top: 32px;
          a {
            text-decoration: underline;
            color: $text-navy;
            font-style: italic;
            font-weight: 500;
          }
        }
        .img-about {
          width: 300px;
          height: auto;
          aspect-ratio: 6/4;
          object-fit: cover;
          margin: 5px;
        }
      }
    }

    .experience {
      h5 {
        text-align: center;
        color: $text-dark;
        font-size: 28px;
        font-weight: 500;
        line-height: 50px; /* 50% */
      }
      hr {
        background-color: $bg-navy;
        height: 2px;
        width: 10%;
        margin: 0 auto;
      }
      .company-identity {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
        .company-logo {
          width: auto;
          height: 50px;
        }
      }
      .wrapp-card-experience {
        scroll-behavior: smooth;
        margin: 0 auto;
        margin-top: 20px;
        width: 80%;
        gap: 20px;
        display: flex;
        justify-content: start;
        padding: 10px 10px;
        overflow-x: hidden;
      }
      .swipe-wrapp {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 10px;
        margin-top: 25px;
        .btn-swipe {
          color: $text-navy;
          border: none;
          border-radius: 2px;
          background-color: $bg-white;
          box-shadow: 0px 6px 8px -3px $color-shadow;
          transition: all 0.2s ease-in-out;
          padding: 5px 10px;
          &:hover {
            transform: translateY(-2px);
            box-shadow: 0px 3px 0px 1px #0a1e39;
            outline: #0a1e39 solid 2px;
          }
          &:focus {
            transform: translateY(-2px);
            box-shadow: 0px 3px 0px 1px #0a1e39;
            outline: #0a1e39 solid 2px;
          }
        }
      }
    }
  }
}
