@include media.xs {
  .container {
    margin: 0 10px;
  }
}
@include media.sm {
  .container {
    margin: 0 10px;
  }
}
@include media.md {
  .container {
    margin: 0 50px;
  }
}
@include media.lg {
  .container {
    margin: 0 50px;
  }
}
@include media.xl {
  .container {
    margin: 0 auto;
    max-width: 1200px;
  }
}
