.jumbotron {
  display: flex;
  min-height: 90vh;
  @include media.desktop {
    align-items: center;
    gap: 52px;
    .jumbotron-text {
      .btn-resume {
        width: 305px;
        height: 57px;
        border-radius: 5px;
        margin-top: 20px;
        color: $text-navy;
        font-size: 2rem;
        font-weight: 400;
        transition: all 0.2s ease-in-out;
        cursor: alias;
      }
      .btn-resume:hover {
        transform: translateY(-5px);
        box-shadow: 0px 5px 0px 2px #0a1e39;
        font-weight: 500;
        outline: #0a1e39 solid 2px;
        color: #0a1e39;
      }
      h5 {
        font-size: 2rem;
        font-weight: 500;
        font-style: normal;
        line-height: normal;
        color: $text-dark;
      }
    }
    .jumbotron-hero {
      aspect-ratio: 1/1;
    }
  }
}
