.main-app {
  @include media.xs {
    .main-project {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      h4 {
        color: $text-dark;
        font-family: Inter;
        font-size: 25px;
        font-weight: 600;
        line-height: 48px;
        text-align: center;
      }
      .card-wrapp {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px 0;
        .card {
          width: 95%;
          height: 380px;
          position: relative;
          overflow-y: hidden;
          cursor: pointer;
          .bg-hover {
            position: absolute;
            width: 100%;
            height: 100%;
            transition: all 0.5s ease-in-out;
          }
          .main-card-title {
            padding: 0 20px;
            padding-top: 20px;
            height: 260px;
            position: relative;
            overflow: hidden;
            h5 {
              font-size: 1rem;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
              text-overflow: ellipsis;
              overflow: hidden;
              margin-bottom: 10px;
              color: $text-dark;
            }
            .card-sub {
              height: 50px;
              width: 100%;
              margin-bottom: unset;
              p {
                font-size: 0.78rem;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                text-overflow: ellipsis;
                overflow: hidden;
                font-weight: normal;
                line-height: 140%;
              }
            }
            .wrapp-btn-circle {
              cursor: pointer;
              width: 30px;
              height: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;
              .btn-arrowCircle {
                position: absolute;
                width: 30px;
                height: 30px;
                border: 1px solid $dark-color;
                border-radius: 50%;
                animation: btnArrowCircleClosed 0.5s linear forwards;
                &:hover {
                  animation: btnArrowCircle 0.5s linear forwards;
                }
              }
              .arrowicon {
                color: $text-dark;
                font-size: 20px;
                transition: all 0.5s linear;
              }

              @keyframes btnArrowCircleClosed {
                0% {
                  transform: rotate(360deg) scale(110%);
                  border-top: 1px solid $primary-color;
                }
                100% {
                  transform: rotate(0deg) scale(100%);
                  border: 1px solid $dark-color;
                }
              }

              @keyframes btnArrowCircle {
                0% {
                  transform: rotate(0deg);
                  border-top: 1px solid $primary-color;
                }
                100% {
                  transform: rotate(360deg) scale(110%);
                  border: 1px solid $primary-color;
                }
              }
            }
          }
          .wrapp-img-project {
            position: absolute;
            top: 36%;
            width: 100%;
            height: 60%;
            .img-project {
              max-width: 100%;
              position: absolute;
              height: auto;
              display: block;
              left: 0px !important;
              bottom: 0px !important;
              right: 0px !important;
              top: 0px !important;
              margin: auto;
              transition: 0.5s ease-in-out;
            }
          }
        }
      }
      .more-project-btn {
        width: 100%;
        height: 50px;
        display: block;
        margin: auto;
        padding: 10px 80px;
        border-radius: 10px;
        color: $text-navy;
        box-shadow: 0px 10px 15px -3px $shadow-color;
        cursor: pointer;
        transition: all 0.25s ease-in-out;

        &:hover {
          font-weight: 700;
          color: $text-navy;
          transform: translateY(-5px);
          box-shadow: 2px 5px 0 0 $dark-navy-color;
          border: $dark-navy-color solid 2px;
        }
      }
    }
  }

  @include media.sm {
    .main-project {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      h4 {
        color: $text-dark;
        font-family: Inter;
        font-size: 35px;
        font-weight: 600;
        line-height: 48px;
        text-align: center;
      }
      .card-wrapp {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px 0;
        .card {
          width: 90%;
          height: 480px;
          position: relative;
          overflow-y: hidden;
          cursor: pointer;
          .bg-hover {
            position: absolute;
            width: 100%;
            height: 100%;
            transition: all 0.5s ease-in-out;
          }
          .main-card-title {
            padding: 0 50px;
            padding-top: 50px;
            height: 260px;
            position: relative;
            overflow: hidden;
            h5 {
              font-size: 1.75rem;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
              text-overflow: ellipsis;
              overflow: hidden;
              margin-bottom: 10px;
              color: $text-dark;
            }
            .card-sub {
              height: 50px;
              width: 100%;
              margin-bottom: 10px;
              p {
                font-size: 1rem;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                text-overflow: ellipsis;
                overflow: hidden;
                font-weight: normal;
                line-height: 140%;
              }
            }
            .wrapp-btn-circle {
              cursor: pointer;
              width: 40px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;
              .btn-arrowCircle {
                position: absolute;
                width: 40px;
                height: 40px;
                border: 1px solid $dark-color;
                border-radius: 50%;
                animation: btnArrowCircleClosed 0.5s linear forwards;
                &:hover {
                  animation: btnArrowCircle 0.5s linear forwards;
                }
              }
              .arrowicon {
                color: $text-dark;
                font-size: 20px;
                transition: all 0.5s linear;
              }

              @keyframes btnArrowCircleClosed {
                0% {
                  transform: rotate(360deg) scale(110%);
                  border-top: 1px solid $primary-color;
                }
                100% {
                  transform: rotate(0deg) scale(100%);
                  border: 1px solid $dark-color;
                }
              }

              @keyframes btnArrowCircle {
                0% {
                  transform: rotate(0deg);
                  border-top: 1px solid $primary-color;
                }
                100% {
                  transform: rotate(360deg) scale(110%);
                  border: 1px solid $primary-color;
                }
              }
            }
          }
          .wrapp-img-project {
            position: absolute;
            top: 36%;
            width: 100%;
            height: 60%;
            .img-project {
              max-width: 100%;
              position: absolute;
              height: auto;
              display: block;
              left: 0px !important;
              bottom: 0px !important;
              right: 0px !important;
              top: 0px !important;
              margin: auto;
              transition: 0.5s ease-in-out;
            }
          }
        }
      }
      .more-project-btn {
        width: 100%;
        height: 50px;
        display: block;
        margin: auto;
        padding: 10px 80px;
        border-radius: 10px;
        color: $text-navy;
        box-shadow: 0px 10px 15px -3px $shadow-color;
        cursor: pointer;
        transition: all 0.25s ease-in-out;

        &:hover {
          font-weight: 700;
          color: $text-navy;
          transform: translateY(-5px);
          box-shadow: 2px 5px 0 0 $dark-navy-color;
          border: $dark-navy-color solid 2px;
        }
      }
    }
  }

  @include media.md {
    .main-project {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      h4 {
        color: $text-dark;
        font-family: Inter;
        font-size: 35px;
        font-weight: 600;
        line-height: 48px;
        text-align: center;
      }
      .card-wrapp {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px 0;
        .card {
          width: 80%;
          height: 580px;
          position: relative;
          overflow-y: hidden;
          cursor: pointer;
          .bg-hover {
            position: absolute;
            width: 100%;
            height: 100%;
            transition: all 0.5s ease-in-out;
          }
          .main-card-title {
            padding: 0 50px;
            padding-top: 50px;
            height: 260px;
            position: relative;
            overflow: hidden;
            h5 {
              font-size: 1.75rem;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
              text-overflow: ellipsis;
              overflow: hidden;
              margin-bottom: 10px;
              color: $text-dark;
            }
            .card-sub {
              height: 50px;
              width: 100%;
              margin-bottom: 10px;
              p {
                font-size: 1rem;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                text-overflow: ellipsis;
                overflow: hidden;
                font-weight: normal;
                line-height: 140%;
              }
            }
            .wrapp-btn-circle {
              cursor: pointer;
              width: 40px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;
              .btn-arrowCircle {
                position: absolute;
                width: 40px;
                height: 40px;
                border: 1px solid $dark-color;
                border-radius: 50%;
                animation: btnArrowCircleClosed 0.5s linear forwards;
                &:hover {
                  animation: btnArrowCircle 0.5s linear forwards;
                }
              }
              .arrowicon {
                color: $text-dark;
                font-size: 20px;
                transition: all 0.5s linear;
              }

              @keyframes btnArrowCircleClosed {
                0% {
                  transform: rotate(360deg) scale(110%);
                  border-top: 1px solid $primary-color;
                }
                100% {
                  transform: rotate(0deg) scale(100%);
                  border: 1px solid $dark-color;
                }
              }

              @keyframes btnArrowCircle {
                0% {
                  transform: rotate(0deg);
                  border-top: 1px solid $primary-color;
                }
                100% {
                  transform: rotate(360deg) scale(110%);
                  border: 1px solid $primary-color;
                }
              }
            }
          }
          .wrapp-img-project {
            position: absolute;
            top: 36%;
            width: 100%;
            height: 60%;
            .img-project {
              max-width: 100%;
              position: absolute;
              height: auto;
              display: block;
              left: 0px !important;
              bottom: 0px !important;
              right: 0px !important;
              top: 0px !important;
              margin: auto;
              transition: 0.5s ease-in-out;
            }
          }
        }
      }
      .more-project-btn {
        width: 100%;
        height: 50px;
        display: block;
        margin: auto;
        padding: 10px 80px;
        border-radius: 10px;
        color: $text-navy;
        box-shadow: 0px 10px 15px -3px $shadow-color;
        cursor: pointer;
        transition: all 0.25s ease-in-out;

        &:hover {
          font-weight: 700;
          color: $text-navy;
          transform: translateY(-5px);
          box-shadow: 2px 5px 0 0 $dark-navy-color;
          border: $dark-navy-color solid 2px;
        }
      }
    }
  }

  @include media.lg {
    .main-project {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      h4 {
        color: $text-dark;
        font-family: Inter;
        font-size: 35px;
        font-weight: 600;
        line-height: 48px;
        text-align: center;
      }
      .card-wrapp {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 25px 2%;
        .card {
          width: 48%;
          height: 450px;
          position: relative;
          overflow-y: hidden;
          cursor: pointer;
          .bg-hover {
            position: absolute;
            width: 100%;
            height: 100%;
            transition: all 0.5s ease-in-out;
          }
          .main-card-title {
            padding: 0 50px;
            padding-top: 50px;
            height: 260px;
            position: relative;
            overflow: hidden;
            h5 {
              font-size: 1.75rem;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
              text-overflow: ellipsis;
              overflow: hidden;
              color: $text-dark;
              margin-bottom: 10px;
            }
            .card-sub {
              height: 50px;
              width: 100%;
              margin-bottom: 10px;
              p {
                font-size: 1rem;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                text-overflow: ellipsis;
                overflow: hidden;
                font-weight: normal;
                line-height: 140%;
              }
            }
            .wrapp-btn-circle {
              cursor: pointer;
              width: 40px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;
              .btn-arrowCircle {
                position: absolute;
                width: 40px;
                height: 40px;
                border: 1px solid $dark-color;
                border-radius: 50%;
                animation: btnArrowCircleClosed 0.5s linear forwards;
                &:hover {
                  animation: btnArrowCircle 0.5s linear forwards;
                }
              }
              .arrowicon {
                color: $text-dark;
                font-size: 20px;
                transition: all 0.5s linear;
              }

              @keyframes btnArrowCircleClosed {
                0% {
                  transform: rotate(360deg) scale(110%);
                  border-top: 1px solid $primary-color;
                }
                100% {
                  transform: rotate(0deg) scale(100%);
                  border: 1px solid $dark-color;
                }
              }

              @keyframes btnArrowCircle {
                0% {
                  transform: rotate(0deg);
                  border-top: 1px solid $primary-color;
                }
                100% {
                  transform: rotate(360deg) scale(110%);
                  border: 1px solid $primary-color;
                }
              }
            }
          }
          .wrapp-img-project {
            position: absolute;
            top: 40%;
            width: 100%;
            height: 60%;
            .img-project {
              width: 60%;
              position: absolute;
              height: auto;
              display: block;
              left: 0px !important;
              bottom: 0px !important;
              right: 0px !important;
              top: 0px !important;
              margin: auto;
              transition: 0.5s ease-in-out;
            }
          }
        }
      }
      .more-project-btn {
        width: 100%;
        height: 50px;
        display: block;
        margin: auto;
        padding: 10px 80px;
        border-radius: 10px;
        color: $text-navy;
        box-shadow: 0px 10px 15px -3px $shadow-color;
        cursor: pointer;
        transition: all 0.25s ease-in-out;

        &:hover {
          font-weight: 700;
          color: $text-navy;
          transform: translateY(-5px);
          box-shadow: 2px 5px 0 0 $dark-navy-color;
          border: $dark-navy-color solid 2px;
        }
      }
    }
  }
}

@include media.xl {
  .main-project {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 10%;
    h4 {
      color: $text-dark;
      font-family: Inter;
      font-size: 35px;
      font-weight: 600;
      line-height: 48px;
      text-align: center;
    }
    .card-wrapp {
      position: relative;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 35px 2%;
      .card {
        width: 48%;
        height: 550px;
        position: relative;
        overflow-y: hidden;
        cursor: pointer;
        .bg-hover {
          position: absolute;
          width: 100%;
          height: 100%;
          transition: all 0.5s ease-in-out;
        }
        .main-card-title {
          padding: 0 50px;
          padding-top: 50px;
          height: 260px;
          position: relative;
          overflow: hidden;
          h5 {
            font-size: 1.75rem;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-bottom: 10px;
            color: $text-dark;
          }
          .card-sub {
            height: 50px;
            width: 100%;
            margin-bottom: 10px;
            p {
              font-size: 1rem;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              text-overflow: ellipsis;
              overflow: hidden;
              font-weight: normal;
              line-height: 140%;
            }
          }
          .wrapp-btn-circle {
            cursor: pointer;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            .btn-arrowCircle {
              position: absolute;
              width: 40px;
              height: 40px;
              border: 1px solid $dark-color;
              border-radius: 50%;
              animation: btnArrowCircleClosed 0.5s linear forwards;
              &:hover {
                animation: btnArrowCircle 0.5s linear forwards;
              }
            }
            .arrowicon {
              color: $text-dark;
              font-size: 20px;
              transition: all 0.5s linear;
            }

            @keyframes btnArrowCircleClosed {
              0% {
                transform: rotate(360deg) scale(110%);
                border-top: 1px solid $primary-color;
              }
              100% {
                transform: rotate(0deg) scale(100%);
                border: 1px solid $dark-color;
              }
            }

            @keyframes btnArrowCircle {
              0% {
                transform: rotate(0deg);
                border-top: 1px solid $primary-color;
              }
              100% {
                transform: rotate(360deg) scale(110%);
                border: 1px solid $primary-color;
              }
            }
          }
        }
        .wrapp-img-project {
          position: absolute;
          top: 35%;
          width: 100%;
          height: 60%;
          .img-project {
            max-width: 100%;
            position: absolute;
            height: auto;
            display: block;
            left: 0px !important;
            bottom: 0px !important;
            right: 0px !important;
            top: 0px !important;
            margin: auto;
            transition: 0.5s ease-in-out;
          }
        }
      }
    }
    .more-project-btn {
      width: 100%;
      height: 50px;
      display: block;
      margin: auto;
      padding: 10px 80px;
      border-radius: 10px;
      color: $text-navy;
      box-shadow: 0px 10px 15px -3px $shadow-color;
      cursor: pointer;
      transition: all 0.25s ease-in-out;

      &:hover {
        font-weight: 700;
        color: $text-navy;
        transform: translateY(-5px);
        box-shadow: 2px 5px 0 0 $dark-navy-color;
        border: $dark-navy-color solid 2px;
      }
    }
  }
}
