.about {
  display: inline-block;
  padding: 10px 1%;
  width: 100%;
  overflow: hidden;
  @include media.xl {
    .hero-img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      display: block;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .description {
      .title {
        text-align: center;
        color: #000;
        font-size: 48px;
        font-weight: 500;
        line-height: 100px; /* 50% */
      }

      .body-text {
        margin: 0 10%;
        margin-bottom: 50px;
        p {
          color: $text-dark;
          text-align: justify;
          font-size: 1.25rem;
          font-weight: 400;
          line-height: 32px; /* 171.429% */
          margin-top: 32px;
        }
      }
    }

    .experience {
      h5 {
        text-align: center;
        color: $text-dark;
        font-size: 28px;
        font-weight: 500;
        line-height: 50px; /* 50% */
      }
      hr {
        background-color: $color-dark;
        height: 2px;
        width: 10%;
        margin: 0 auto;
      }
      .wrapp-card-experience {
        margin: 0 auto;
        margin-top: 20px;
        width: max-content;
        display: flex;
        padding: 10px 0;
        overflow-x: scroll;
        .card-experience {
          cursor: alias;
          min-width: 358.5px;
          margin: 10px;
          height: 189px;
          padding: 14px;

          background-color: #fff;
          font-weight: bold;
          box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.274);
          overflow: hidden;
          transition: all 0.2s ease-in-out;
          border-radius: 5px;

          .job-name,
          .job-location,
          .job-duration {
            color: #0a1e39;
            font-size: 18px;
            font-weight: 700;
            line-height: 50px;
            display: flex;
            align-items: center;
            gap: 15px;
            margin: 5px 0;
            img {
              width: 45px;
              height: 45px;
            }
          }

          .job-location,
          .job-duration {
            font-weight: 400;
          }

          .job-duration {
            font-style: italic;
            text-decoration: underline;
          }
        }

        .card-experience:hover {
          transform: translateY(-5px);
          box-shadow: 0px 5px 0px 2px #0a1e39;
          outline: #0a1e39 solid 2px;
        }
      }
      .wrapp-card-experience::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
