footer {
  margin-top: 20px;
  padding: 10px 5%;
  text-align: center;
  line-height: 30px;
  .line-break {
    height: 2px;
    width: 100%;
    background-color: #0a1e39;
    margin-bottom: 20px;
  }
  h5 {
    font-size: 20px;
  }
  a {
    text-decoration: none;
    color: #0a1e39;
    transition: 0.4s;
  }
  a:hover {
    font-weight: 700;
    padding: 2px 4px;
    border-radius: 3px;
    transform: translateY(-5px);
    box-shadow: 0px 5px 0px 2px #0a1e39;
    outline: #0a1e39 solid 2px;
  }
}
