* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", roboto, sans-serif;
  border: 0;
  background-color: transparent;
}

.btn {
  cursor: pointer;
  outline: none;
  border: 1px solid black;
}

.tools-wrapp {
  width: max-content;
  height: max-content;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 5px;
}

.expartise {
  padding: 10px 5%;
  h5 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .tools-stack {
    display: flex;
  }
}

.card-wrapp {
  position: relative;
  margin: 0 auto;
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  .card {
    flex-grow: 1;
    width: 40%;
    height: 550px;
    padding: 15px;
    position: relative;
    overflow-y: hidden;
    h5 {
      font-size: 1.75rem;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-bottom: 20px;
    }
    .img-project {
      width: 80%;
      display: block;
      margin: 0 auto;
    }
    .tools-stack-project {
      display: flex;
      position: absolute;
      bottom: 20px;
      right: 20px;
    }
  }
}
