* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", roboto, sans-serif;
  border: 0;
  background-color: transparent;
}

.btn {
  cursor: pointer;
  outline: none;
  border: 1px solid $dark-color;
}

.tools-wrapp {
  width: max-content;
  height: max-content;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid $dark-color;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 5px;
}

.expartise {
  padding: 10px 0;
  width: 100%;
  h4 {
    color: $text-dark;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
  }
  .tools-stack {
    display: flex;
    justify-content: center;
  }
}

.main-project {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 10%;
  h4 {
    color: $text-dark;
    font-family: Inter;
    font-size: 35px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
  }
  .card-wrapp {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px 0;
    .card {
      width: 450px;
      height: 550px;
      position: relative;
      overflow-y: hidden;
      cursor: pointer;
      .bg-hover {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all 0.5s ease-in-out;
      }
      .main-card-title {
        padding: 0 50px;
        padding-top: 50px;
        height: 260px;
        position: relative;
        overflow: hidden;
        h5 {
          font-size: 1.75rem;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          text-overflow: ellipsis;
          overflow: hidden;
          margin-bottom: 10px;
          color: $text-dark;
        }
        p {
          font-size: 1rem;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          text-overflow: ellipsis;
          overflow: hidden;
          margin-bottom: 10px;
          font-weight: normal;
          line-height: 140%;
        }
        .wrapp-btn-circle {
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          .btn-arrowCircle {
            position: absolute;
            width: 40px;
            height: 40px;
            border: 1px solid $dark-color;
            border-radius: 50%;
            animation: btnArrowCircleClosed 0.5s linear forwards;
            &:hover {
              animation: btnArrowCircle 0.5s linear forwards;
            }
          }
          .arrowicon {
            color: $text-dark;
            font-size: 20px;
            transition: all 0.5s linear;
          }

          @keyframes btnArrowCircleClosed {
            0% {
              transform: rotate(360deg) scale(110%);
              border-top: 1px solid $primary-color;
            }
            100% {
              transform: rotate(0deg) scale(100%);
              border: 1px solid $dark-color;
            }
          }

          @keyframes btnArrowCircle {
            0% {
              transform: rotate(0deg);
              border-top: 1px solid $primary-color;
            }
            100% {
              transform: rotate(360deg) scale(110%);
              border: 1px solid $primary-color;
            }
          }
        }
      }
      .img-project {
        max-width: 100%;
        height: auto;
        display: block;
        transition: 0.5s ease-in-out;
      }
      .tools-stack-project {
        display: flex;
        position: absolute;
        bottom: 20px;
        right: 20px;
      }
    }
  }
  .more-project-btn {
    width: 100%;
    height: 50px;
    display: block;
    margin: auto;
    padding: 10px 80px;
    border-radius: 10px;
    color: $text-navy;
    box-shadow: 0px 10px 15px -3px $shadow-color;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
  }
  .more-project-btn:hover {
    font-weight: 700;
    color: $text-navy;
    transform: translateY(-5px);
    box-shadow: 2px 5px 0 0 $dark-navy-color;
    border: $dark-navy-color solid 2px;
  }
}
