* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", roboto, sans-serif;
  border: 0;
  background-color: transparent;
}

.btn {
  cursor: pointer;
  outline: none;
  border: 1px solid $color-dark-navy;
}
