@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Montserrat:wght@500;600;700&family=Roboto:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", roboto, sans-serif;
  border: 0;
  background-color: transparent;
}

.btn {
  cursor: pointer;
  outline: none;
  border: 1px solid black;
}

.tools-wrapp {
  width: max-content;
  height: max-content;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 5px;
}

.expartise {
  padding: 10px 5%;
}
.expartise h5 {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.expartise .tools-stack {
  display: flex;
}

.card-wrapp {
  position: relative;
  margin: 0 auto;
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.card-wrapp .card {
  flex-grow: 1;
  width: 40%;
  height: 550px;
  padding: 15px;
  position: relative;
  overflow-y: hidden;
}
.card-wrapp .card h5 {
  font-size: 1.75rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 20px;
}
.card-wrapp .card .img-project {
  width: 80%;
  display: block;
  margin: 0 auto;
}
.card-wrapp .card .tools-stack-project {
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.navigation {
  padding: 10px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
@media (min-width: 1076px) {
  .navigation .home-brand {
    font-size: 12px;
    color: rgb(12, 12, 70);
  }
  .navigation ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 12px;
  }
  .navigation ul a {
    text-decoration: none;
    color: rgb(12, 12, 70);
    cursor: pointer;
    padding: 5px 10px;
    width: max-content;
    height: max-content;
    transition: all 0.4s ease-in-out;
  }
  .navigation ul a:hover {
    background-color: #f2a365;
    font-weight: bold;
    box-shadow: 4px 10px 0px 0px #0a1e39;
  }
  .navigation ul .active {
    background-color: #f2a365;
    font-weight: bold;
  }
}

.jumbotron {
  color: #000;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
}
@media (min-width: 1076px) {
  .jumbotron {
    align-items: center;
    margin: 0 5%;
    gap: 52px;
  }
  .jumbotron .jumbotron-text .btn-resume {
    width: 305px;
    height: 57px;
    border-radius: 5px;
    margin-top: 20px;
    color: rgb(12, 12, 70);
    font-size: 32px;
  }
  .jumbotron .jumbotron-text h5 {
    font-size: 32px;
  }
}

footer {
  margin-top: 20px;
  padding: 10px 5%;
  text-align: center;
  line-height: 30px;
}
footer .line-break {
  height: 2px;
  width: 100%;
  background-color: #f2a365;
  margin-bottom: 20px;
}
footer h5 {
  font-size: 20px;
}
footer a {
  text-decoration: none;
  color: #f2a365;
}
footer a:hover {
  color: #0a1e39;
}

.loading::before {
  background-color: grey;
  width: 100%;
  height: 100%;
}

.about {
  display: inline-block;
  padding: 10px 5%;
  width: 100%;
  overflow: hidden;
}
@media (min-width: 1076px) {
  .about .hero-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }
  .about .hero-img img {
    width: 100%;
    height: 100%;
  }
  .about .description .title {
    text-align: center;
    color: #000;
    font-size: 48px;
    font-weight: 500;
    line-height: 100px; /* 50% */
  }
  .about .description .body-text {
    color: #1a1a1a;
    text-align: justify;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
  }
  .about .experience h5 {
    text-align: center;
    color: #000;
    font-size: 28px;
    font-weight: 500;
    line-height: 50px; /* 50% */
  }
  .about .experience hr {
    background-color: rgba(0, 0, 0, 0.6901960784);
    height: 2px;
    width: 10%;
    margin: 0 auto;
  }
  .about .experience .wrapp-card-experience {
    margin-top: 20px;
    width: 100%;
    display: flex;
    overflow-x: scroll;
  }
  .about .experience .wrapp-card-experience .card-experience {
    cursor: alias;
    min-width: 358.5px;
    margin: 10px;
    height: 189px;
    padding: 14px;
    background-color: #f2a365;
    font-weight: bold;
    box-shadow: 8px 10px 0px 0px #0a1e39;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
  .about .experience .wrapp-card-experience .card-experience .job-name,
  .about .experience .wrapp-card-experience .card-experience .job-location,
  .about .experience .wrapp-card-experience .card-experience .job-duration {
    color: #0a1e39;
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 5px 0;
  }
  .about .experience .wrapp-card-experience .card-experience .job-name img,
  .about .experience .wrapp-card-experience .card-experience .job-location img,
  .about .experience .wrapp-card-experience .card-experience .job-duration img {
    width: 45px;
    height: 45px;
  }
  .about .experience .wrapp-card-experience .card-experience .job-location,
  .about .experience .wrapp-card-experience .card-experience .job-duration {
    font-weight: 400;
  }
  .about .experience .wrapp-card-experience .card-experience .job-duration {
    font-style: italic;
    text-decoration: underline;
  }
  .about .experience .wrapp-card-experience .card-experience:hover {
    transform: translateY(10px);
    box-shadow: 0px 5px 0px 2px #0a1e39;
  }
}

.project {
  display: flex;
  justify-content: center;
  width: 100%;
}
.project .wrapp-card-project {
  width: 70%;
  margin: 0 auto;
  gap: 40px;
  display: flex;
  flex-wrap: wrap;
}

.card-project {
  width: 405px;
  height: 234px;
  background-color: #f2a365;
  color: #0a1e39;
  overflow: hidden;
  display: flex;
  padding: 28px 15px;
  gap: 14px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  box-shadow: 14px 14px 0px 0px #0a1e39;
}
@media (min-width: 1076px) {
  .card-project .left-content {
    width: 186px;
  }
  .card-project .left-content .img-project {
    width: 100%;
    height: 126px;
  }
  .card-project .left-content .tech-stack {
    display: flex;
    width: 100%;
    margin-top: 10px;
  }
  .card-project .right-content {
    width: 100%;
  }
  .card-project .right-content p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 12px;
    margin-bottom: 34px;
  }
  .card-project .right-content a {
    text-decoration: none;
    color: #0a1e39;
    font-family: Inter;
    font-size: 14px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
  }
  .card-project .right-content a:hover {
    text-decoration: underline;
  }
}

.card-project:hover {
  transform: translateY(10px);
  box-shadow: 0px 5px 0px 2px #0a1e39;
}/*# sourceMappingURL=styles.css.map */